*{
  background-color: #FFF5E4;
}
.edit_user_info{
  background-color: #FBE3B9;
}

.my_page_list{
  padding: 0;
  margin: 0;
  width: 190px;
  height: 450px;
  font-size: 20px;
  color: white;
  background-color: #a6998080; 
  justify-items: center;
  border-radius: 10px;
}
.my_page{
  border-radius: 10px;
  background-color: #FF873C;
  width: 190px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my_page_list > li{
  list-style: none;
  padding: 15px 0;
}