*{
  margin: 0;
  padding: 0;
}
#payment_success{
  width: 1920px;
  height: 1080px;
  background-color: #FFF5E4;
}
/* 결제완료 > 중앙정렬 영역*/
.wrap{
  border: 1ps solid red;
  width: 1100px;
  height: 1080px;
  background-color:#FBE3B9;
  margin: 0 auto;
  display: flex;
}

