*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 회색영역 */
.admin-innerwrapper{
  width: 1100px;
  min-height: 950px;
  background-color: #d9d9d9;
  margin: auto;
  display: flex;
  position: relative;
}
/* 왼쪽 메뉴바 */
.sidebar{
  min-width: 220px;
  min-height: 950px;
  background-color: #505FA9;
  justify-content: center;
  align-items: center;
}

.admin_logo{
  /* border: 1px solid black; */
  margin-left: 57px;
  margin-bottom: 10px;
  width: 100px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
li{
  /* border: 1px solid black; */
  padding: 12px 0 14px;
  color: white;
  text-align: center;
  font-size: 24px;
  /* margin: 20px auto 20px; */
  /* background-color: #1e223f;*/
}
.sidebar_list:hover{
  background-color: #1e223f;
  scale: 110%;
}
.admin-inner{
  width: 880px;
  margin: 20px auto;
}
h1{
  /* border: 1px solid black; */
  font-weight:1000;
  margin-left: 50px;
}
.dashboard-topWrapper{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin: 30px 50px ;
}
.dashboard-topbox{
  /* border: 1px solid black; */
  width: 200px;
  height: 120px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
}
.dashboard-topbox-key{
  /* border: 1px solid black; */
  font-size: 24px;
  margin-top: 10px;
  padding-left: 30px;
}
.dashboard-topbox-value{
  font-size: 32px;
  font-weight: 1000;
  padding-left: 30px;
}
.dashboard-graph{
  width: 780px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
  justify-content: center;
  margin: auto;
}
.dashboard-graph-title{
  /* border: 1px solid black; */
  font-size: 24px;
  padding-top: 40px;
  padding-left: 30px;
}
.dashboard-graph-img{
  width: 700px;
  height: 300px;
  margin-left: 30px;
}
.dashboard-bottomWrapper{
  display: flex;
  justify-content: space-between;
}
.dashboard-bottombox{
  height: 300px;
  width: 350px;
  margin: 30px 50px 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 5px gray;
}
.dashboard-bottombox-title{
  /* border: 1px solid black; */
  font-size: 24px;
  padding-top: 30px;
  padding-left: 30px;
}


